@charset "utf-8";
html {
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: miui, 'Helvetica Neue', Helvetica, STHeiTi, sans-serif;
}
body {
  line-height: 1.5em;
}
body,
#root {
  font-size: 14px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fl {
  float: left;
}
.right {
  float: right;
}
.clear {
  content: "";
  clear: both;
}
#root {
  position: relative;
}
#root .rootWrap,
#root #myscroll {
  width: 100%;
  height: 100%;
}
#smain article {
  border: 0px;
}
.headerbg {
  background: #EFEFF0;
  width: 100%;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #dddddd;
  display: -webkit-box;
  display: -moz-box;
  position: relative;
  z-index: 999;
}
.headerbg .header-checkin {
  background: url(http://image.read.duokan.com/mfsv2/download/s010/p01O5K5DzsAZ/2ZODzjwkRQh7l3.png) center no-repeat;
  background-size: 22px;
}
.headerbg .headerUser {
  background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01j041d5DOT/boUg2EJlVetOMC.png) no-repeat center;
  background-size: 16px;
}
.headerbg .header-checkin,
.headerbg .headerUser {
  display: inline-block;
  width: 44px;
  height: 44px;
}
.headerbg .headerTab {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  color: #333;
  padding: 0 60px;
}
.headerbg .headerTabWrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  width: 100%;
}
.headerbg .headerTabWrap .tab {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  text-align: center;
  line-height: 44px;
}
.main {
  position: absolute;
  top: 45px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
article {
  border-bottom: 10px solid #f5f5f5;
  background: #fff;
}
article h1 {
  padding: 10px 14px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 16px;
}
#search {
  margin: 10px 13px;
  padding: 1px 0 0 30px;
  font-size: 11px;
  line-height: 33px;
  border: 1px solid #f5f5f5;
  color: rgba(0, 0, 0, 0.4);
  background: url("http://image.read.duokan.com/mfsv2/download/fdsc3/p01dSYLeWtSR/tY73MgTfVw7UAS.png") no-repeat 8px center;
  background-size: 14px;
}
.banner a {
  display: block;
  width: 100%;
}
.banner img {
  width: 100%;
}
.topHomeBtn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-box-lines: multiple;
  -webkit-user-select: none;
  margin: 14px 0 4px;
  width: 100%;
}
.topHomeBtn li {
  font-size: 12px;
  text-align: center;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
}
.topHomeBtn p {
  line-height: 2.4;
  margin-top: -6px;
}
.topHomeBtn img {
  width: 22px;
  height: 22px;
  margin: 0px;
  padding: 0px;
}
.showByTabel h1 {
  border-left: 6px solid #ffab18;
}
.showByTabel .hotTable {
  padding: 13px 14px 5px;
}
.showByTabel li {
  width: 32%;
  display: inline-block;
  margin-bottom: 8px;
}
.showByTabel li a {
  display: inline-block;
  width: 86px;
  text-align: left;
  vertical-align: top;
}
.showByTabel li a .book-cover {
  height: 113px;
}
.showByTabel li a img {
  width: 100%;
  height: 100%;
}
.showByTabel li:nth-child(3n+1) {
  text-align: left;
}
.showByTabel li:nth-child(3n+2) {
  text-align: center;
}
.showByTabel li:nth-child(3n) {
  text-align: right;
}
.showByTabel .bookName {
  padding-top: 8px;
  font-size: 13px;
  line-height: 1.4em;
  overflow: hidden;
  color: #8d8d8d;
}
.showByTabel .more {
  display: block;
  width: 100%;
  font-size: 14px;
  padding: 10px 0px;
  text-align: center;
  border-top: 1px solid #f0f0f0;
}
.showByList h1 {
  position: relative;
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
}
.showByList h1 a {
  color: #000;
  display: inlie-block;
  height: 100%;
}
.showByList h1 .brand {
  background: #53ac7d;
  position: absolute;
  font-size: 8px;
  line-height: 8px;
  padding: 3px 5px 0 5px;
  margin: -1px 0 0 5px;
  color: #fff;
}
.showByList .right b {
  font-size: 12px;
  color: #999;
  padding: 0 10px;
}
.showByList .right b:nth-child(2) {
  border-left: 1px solid #cccccc;
}
.showByList .recommand-list {
  padding: 0 13px;
}
.showByList li a {
  padding: 17px 0px;
  display: -webkit-box;
  display: -moz-box;
  border-bottom: 1px solid #f0f0f0;
}
.showByList li .bookTitle {
  font-size: 16px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.9);
  margin-right: 10px;
}
.showByList li .bookAuthor {
  font-size: 12px;
  line-height: 12px;
}
.showByList li:last-child a {
  border: 0px;
}
.displayBox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-box-lines: multiple;
}
.displayBox .more {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  display: block;
  width: 50%;
  font-size: 14px;
  padding: 10px 0px;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.9);
  border-top: 1px solid #f0f0f0;
}
.displayBox .more:nth-child(2) {
  border-left: 1px solid #f0f0f0;
}
.booksInd img {
  width: 85px;
  height: 113px;
}
.booksInd .booKDes {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  margin-left: 15px;
}
.booksInd .bookTitle {
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.booksInd .bookAuthor {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.booksInd .bookInfo {
  display: -webkit-box;
  margin: 8px 0 0;
  height: 2.8em;
  font-size: 12px;
  line-height: 1.4em;
  color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.booksInd .bookType {
  margin-top: 10px;
  padding-top: 3px;
  overflow: hidden;
}
.booksInd .bookType b {
  display: inline-block;
  margin: 0px 7px 0px 0px;
  padding: 3px 6px 2px;
  font-size: 10px;
  line-height: 11px;
  color: #53AC7D;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #53ac7d;
}
.bookAbout .bookIndex {
  font-size: 13px;
  line-height: 13px;
  color: rgba(237, 83, 15, 0.9);
  margin-right: 10px;
}
#all {
  border: 0px;
}
.scroller-pullDown,
.scroller-pullUp {
  text-align: center;
  padding: 5px 0px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
.fade-enter-active .rootWrap,
.fade-leave-active .rootWrap {
  transition: opacity 0.5s;
}
.fade-enter .rootWrap,
.fade-leave-active .rootWrap {
  opacity: 0;
}
