.headerbg .header-checkin {
  width: 80px;
  padding-left: 10px;
  background: none;
  font-style: normal;
}
.headerbg .headerUser {
  width: 80px;
  padding-right: 10px;
  background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01eZH42sBV7/QTS90E2ZVritaa.png) no-repeat center;
  background-size: 16px;
}
.bookDetail .booKDes {
  margin-left: 40px;
}
.bookDetail .bookTitle {
  padding-bottom: 5px;
}
.bookDetail li .bookAuthor {
  color: #4b99a7;
  line-height: 2;
}
.bookDetail .bookNum span {
  margin-left: 5px;
  border: 1px solid #63bd6e;
  font-size: 12px;
  color: #63bd6e;
  border-radius: 3px;
  padding: 0 5px;
}
.bookDetail .bookPrice,
.bookDetail .bookNum {
  color: #727272;
  font-size: 12px;
}
.bookDetail .u-grade .grade {
  display: inline-block;
  width: 80px;
  height: 12px;
  margin: 0 5px 0 0;
  line-height: 1.4;
  background: url("../img/8lqyfBwW.png") no-repeat;
  background-size: 78px;
  background-position: 0 -128px;
}
.bookDetail .btnItem {
  display: inline-block;
  width: 48%;
  height: 2.8em;
  text-align: center;
  line-height: 2.8em;
  padding: 0;
  margin-bottom: 17px;
  border-radius: 4px;
}
.bookDetail .btnItem:nth-child(1) {
  background: #f35d02;
  border: 1px solid #e35109;
  color: #fff;
}
.bookDetail .btnItem:nth-child(2) {
  border: 1px solid #ddd;
}
.bookDetail .bookInfo {
  line-height: 1.6;
  margin-bottom: 10px;
  font-size: 14px;
  color: #585858;
}
.bookTypeTag {
  padding: 0 13px;
  font-size: 16px;
  color: #8d8d8d;
}
.bookTypeTag h3 {
  font-weight: bold;
  padding: 14px 0 8px;
}
.bookTypeTag .brand {
  margin-bottom: 10px;
}
.bookTypeTag .brandItem {
  display: inline-block;
  padding: 5px 10px;
  background: #fbebe8;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  margin-right: 10px;
}
#hot h2 {
  padding: 0 13px;
  font-size: 15px;
  padding-top: 15px;
  color: #8d8d8d;
}
.copyRight {
  padding: 15px 13px;
  color: #8d8d8d;
  font-size: 15px;
  background: #fff;
}
.copyRight p:nth-child(1) {
  padding-bottom: 15px;
}
